/* *********************************************************************************** */
/* Page  de l'ouvrage numérisé*/
#main_page{
	position:relative;
	width:100%;
	min-height:100%;
	margin-top:5px;
	text-align: center;
	z-index:4;
}
/* Page  de l'ouvrage numérisé*/
#vignettes{
	position:relative;
	width:100%;
	min-height:950px;
	margin-top:5px;

	z-index:4;
}


/* ******************** */
/* fileSets */
/* ******************** */
.Set { display: inline; float: left; margin-right: 0; width: 550px; padding-left: 39px; padding-right: 0; margin-right: 9px; }
.row  ul{ display: inline; float: left; margin-right: 0; width: 550px;  margin-left: 10px!important; padding:5px!important }
.row .Object { width: 105px; float: left; margin-left: 10px;text-align:center;height:150px }


#numero {
   color:#587EA5;
   font-size:8pt;
   font-weight:bold;
   text-align:center!important;
}

.numero {
   color:#587EA5;
   font-size:8pt;
   font-weight:bold;
	 
}

/* Pagination gauche/droite*/
#pagprev{position:absolute; top:0; left:0; width:10%; height:100%;z-index:7;}
#prev{
	width: 100%;
	height:100%;	
	background: transparent url(../images/Bibnum/blank.gif) no-repeat; /* Trick IE into showing hover */
	outline:none;
	}
#prev { left: 0; float: left; outline: none; -moz-outline: none; }	
#prev:hover, #prev:visited:hover { background:#FEFEFE url(../images/preclabel.gif) left 20% no-repeat;}

#pagnext{position:absolute; top:0; right:0; width:10%;  height:100%;  z-index:7;}
#next{
	width: 100%;
	height:100%;	
	background: transparent url(../images/Bibnum/blank.gif) no-repeat; /* Trick IE into showing hover */
	outline:none;
	}
#next { right: 0px; float: right; outline: none; -moz-outline: none; }	
#next:hover, #next:visited:hover { background: #FEFEFE url(../images/suivlabel.gif) right 20% no-repeat;   }

/* vignettes*/
a.vignette img {
		border:1px solid #cccccc!important;
	}	
a:hover.vignette  img{
		border:1px solid #587EA5!important;
	}
	

/* boutons Suivant/Précédent */
.navEntities {
	position:absolute; z-index:9;
} .navEntities.top {
	top:0em; right:4em;
} .navEntities.bottom {
	bottom:0em; right:4em;
}

.navEntities a {
	display:block;
	float:left;
	margin-left:2px;
	width:23px; padding-top:23px;
	height:0; font-size:0; line-height:0;
	background:transparent url(../images/nav-entities.png) no-repeat 0 0;
	overflow:hidden;
}

.navEntities a.goContents {background-position:0 0}
.navEntities a.goPrev {background-position:-22px 0}
.navEntities a.goNext {background-position:-44px 0}
.navEntities a.goContents:hover {background-position:0 -23px}
.navEntities a.goPrev:hover {background-position:-22px -23px}
.navEntities a.goNext:hover {background-position:-44px -23px}

/*TOOLBAR(S)*/
#bibnum {
	margin:0 ;
	height:32px;

	background-image: url(../images/bg_tb.png);
	border-top:1px solid #AAA;
	border-bottom:1px solid #AAA;
	color:#fff;
	font:.8em/160% Verdana, Arial, sans-serif;
	text-transform:lowercase;
	}

	
#bibnum #tools a {
	float:left;
	height:32px;
	display:block;	
	background: url(../images/tb.png) no-repeat 0 0;
	overflow:hidden;	
	}
#bibnum #tools #premiere {width:60px;background-position:0px 0;margin-left:15px;}	
#bibnum #tools #premiere:hover {background-position:0px -32px; }
	
#bibnum #tools #precedente{width:78px;background-position:-60px 0;margin-right:40px;}
#bibnum #tools #precedente:hover {background-position:-60px -32px; }

#bibnum #tools #vign1{width:40px;background-position:-420px 0;margin-right:40px;}
#bibnum #tools #vign1:hover {background-position:-420px -32px; }

#bibnum #tools .blank {width:20px;background-position:-140px 0;}	
#bibnum #tools .blankG {width:40px;background-position:-140px 0;margin-left:55px;}
#bibnum #tools .blankL {width:40px;background-position:-140px 0;margin-left:32px;}
	
#bibnum #tools #suivante {width:60px;background-position:-280px 0;margin-right:10px;}
#bibnum #tools #suivante:hover {background-position:-280px -32px; }


#bibnum #tools #derniere {width:60px;background-position:-350px 0;}
#bibnum #tools #derniere:hover {background-position:-350px -32px; }	

#bibnum #tools #loupe {margin-right:60px;}
	

form.ouvnum{	width:10em; float:left; display:block;margin-right:0px;padding-top:.5em;}	
.highlight {background-color:#FFFF00; font-weight:bold;}

/*Table des matières*/

#vtext{padding:0 100px 0 100px;}
#vtext a{font-weight:bold;}	
	


.toc{
	margin: 10px;
	padding:10px;
	background-color:#ECECEC;
}
.toc_section1 a{
	font-size:14px;
	margin-left:50px;
	font-variant:small-caps;
	color:#222!important;
}
.toc_section2 a{
	margin:1px 0;
	font-size:11px;
	padding-left:80px !important;
	color:#587EA5!important;
}
.toc_section3{margin-left:100px;}
.toc_section3 a{
	margin:2px 0;
	/*padding-left:24px !important;*/
	font-size:10px;
	color:#587EA5!important;
}

.toc_section4{margin-left:27px;}
.toc_section4 a {color:#999!important; font-size:.9em; margin-left:110px;}
.toc_section5{margin-left:32px;} 
.toc_section5 a {color:#999!important; font-size:.9em; margin-left:120px;}
.toc_section6{margin-left:37px;} 
.toc_section6 a {color:#999!important; font-size:.9em; margin-left:130px;}
 .toc_section1 a:hover, .toc_section2 a:hover, .toc_section3 a:hover, .toc_section4 a:hover, .toc_section5 a:hover, .toc_section6 a:hover { color: #CCC!important;}
 
#primary .item-file img,
#primary .item-file object {
    max-width: 100%;
}

